h1
{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
#list
{
    background-color: red;
    font-style: oblique;
    line-height: 30px;
    text-align:center;
    text-decoration: underline;
}
.text
{
    background-color: green;
}
p
{
    font-weight: 600;
    font-size: 3em;
}
body
{
    font-size: 16px;
}
#am
{
    background-color: yellow;
}
#ver
{
    background-color:red ;
}
#mar
{
    background-color: brown;
}